.gold a{
    color: #A58500 !important;
}

.dataSet .boxed {
    border: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
}
.dataSet .boxed h5 {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}
.dataSet .boxed .resultSet-more {
    margin-top: -10px;
    margin-bottom: 10px;
}